#coloured-p {
  color: brown;
  border: 2px solid black;
  margin-bottom: 50px;
  padding-left: 20px;
}

img {
  border: 2px solid black;
  width: 50%;
  padding: 20px;
}

table {
  border: 2px solid black;
  margin-top: 25px;
  padding: 15px;
}